

<%ar=[]%>

<%if @drive %>
<% @drive.each do |i|%>
  <% unless ar.include?(i.date) %> 
    <%ar.push(i.date)%>
 
   <%end%>
<% end %>
<%end%>



<% if current_user.role =="admin" %>

<% if ar.empty?()%>
    <h1> List is empty no user applied for drive </h1>
<% else%>
<% ar.each do |i|%>
<%= link_to "#{(ar.index(i)+1)} -  #{i} ", detail_path(i) %><br>
<% end %>
<%end%>

<%end%>



 <% if current_user.role =="admin" %>

 <%= link_to "all_user" ,all_user_list_path %>
<br>
 <%= link_to "setdrivepath" ,setdrivedate_path %>
 <br>
 <%= link_to "all_drive_date" ,all_date_path %>
<% else%>
 <%= "sorry invalid user permission"%>
 <%end%>
