

<% if current_user.role =="admin" %>
<table>
<% @all_date.each do |i|%>
     <tr>
        <td>
            <%= i.date%> : <%= i.profile%> <%= link_to "delete" , remove_path(i.id) %>
            
        </td>
     </tr>

<%end%> 
</table>
<br>
<%= link_to "admin" ,admin_path %>

<% else%>
<%= "sorry invalid user permission"%>
<%end%>
