<% if notice %>
<%= notice %>
<%end%>
  



<div class="col-lg-5 mx-lg-auto card shadow mt-5">
    <div class="card-header">
      <h3 class="card-title text-center">Drive Date</h3>
    </div>
  <div class="card-body">
  
  
   
  <%= form_with method: :post , url:set_path do |form| %>
    


  
  <div class="form-group mb-2">
  <%= form.label :Date%><br>
   <%= form.text_field :date , class: "form-control form-control-lg"%>
  </div>
    
  <%= form.submit "Setdate" %>
  </div>
  <% end %>
  

  </div>
  </div>
  